@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 24px 32px;
  align-items: center;

}

.right-links,
.left-links {
  display: flex;
  gap: 16px;
  align-items: center;
}

ul{
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: grey;
}

.buttons * {
padding: 10px;
margin: 10px 6px;
}

.footer {
  display: flex;
justify-content: space-between;
background-color: #eeeeee;
padding: 10px;
/* margin-top: auto; */
}

.content {
  display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
flex: 1;
}